.navigation {
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.5rem 0rem;
    background-color: blue;
    color: yellow;
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
}

.brand-name {
    text-decoration: none;
    color: yellow;
    font-size: 3rem;
    margin-left: 1rem;
}

.navigation-menu {
    margin-left: auto;
    font-size: 1.5rem;
}

.navigation-menu ul {
    display: flex;
    padding: 0;
}

.navigation-menu li {
    list-style-type: none;
    margin: 0 1rem;
    color: yellow;
}


.navigation-menu li a {
    text-decoration: none;
    display: block;
    width: 100%;
    color: yellow;
}

.hamburger {
    border: 0;
    height: 40px;
    width: 40px;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: blue;
    color: yellow;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    display: none;

}

.hamburger:hover {
    background-color: #a19c9c;
    color: yellow;
}

@media screen and (max-width: 768px) {
    .hamburger {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .navigation-menu ul {
        position: absolute;
        top: 60px;
        left: 0;
        flex-direction: column;
        width: 100%;
        height: calc(100vh - 77px);
        background-color: blue;
        border-top: 1px solid yellow;
    }

    .navigation-menu li {
        text-align: center;
        margin: 0;
    }

    .navigation-menu li a {
        color: yellow;
        width: 100%;
        padding: 1.5rem 0;
    }

    .navigation-menu li:hover {
        background-color: #eee;
    }
}

@media screen and (max-width: 768px) {
    .navigation-menu ul {
        /* previous styles */
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .navigation-menu.expanded ul {
        display: block;
    }
}

.responsive-menu-icon::after {
    content: "Menu";
    font-style: normal;
    text-transform: uppercase;
    font-size: 1.3em;
    padding-left: 10px;
    position: relative;
    top: -13px;
}

.bar1,
.bar2,
.bar3 {
    width: 25px;
    height: 4px;
    background-color: yellow;
    margin: 4px 0;
    transition: 0.4s;
}